<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<div id="navbarContainer">
  <div id="navbarLeftContainer">
    <div class="dropdown-left">
      <button class="dropbtn" onclick="changeTab('dropdown-left', 'fa-bars')">
        <i id="menuIcon" class="fas fa-bars white"></i>
      </button>
      <div class="dropdown-content dropdown-left">
        <a href="{% url 'home' %}" class="navbarTextContainer">Identyfikacja</a>
        <a href="{% url 'mushrooms' %}" class="navbarTextContainer">Grzyby</a>
        <a href="{% url 'abc' %}" class="navbarTextContainer">ABC grzybiarza</a>
        <a href="{% url 'courses' %}" class="navbarTextContainer">Kursy</a>
        <a href="{% url 'recipes_categories' %}" class="navbarTextContainer"
          >Przepisy</a
        >
      </div>
    </div>
  </div>

  <div id="navbarRightContainer">
    <div class="dropdown-right">
      <button class="dropbtn" onclick="changeTab('dropdown-right', 'fa-user')">
        <i id="userIcon" class="fas fa-user white"></i>
      </button>
      <div class="dropdown-content dropdown-right">
        {% if user.is_authenticated %}
        <!-- Treść dostępna tylko dla zalogowanych użytkowników -->
        <h2>Witaj, {{ user.username }}!</h2>
        <a href="{% url 'profile' %}" class="navbarTextContainer">Profile</a>
        <a href="{% url 'logout' %}" class="navbarTextContainer">wyloguj</a>
        {% else %}

        <!-- Treść dostępna tylko dla niezalogowanych użytkowników -->
        <a href="{% url 'login' %}" class="navbarTextContainer">zaloguj</a>
        <a href="{% url 'register' %}" class="navbarTextContainer"
          >zarejestruj</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</div>
