:root {
  --primary-color: #f7b845;
  --secondary-color: #f3aa22;
  --background-color: #f8f9fa;
}

#mainBody {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* width: 200vh; */
  /* grid-area: 100vh; */
}

/* login and register form */
.form-container {
  width: 300px;
  /* margin: 10%; */
  margin: auto;
  margin-top: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  /* width: 380px;
  padding: 30px; */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
}

/* Styl dla etykiet */
.form-container label {
  display: block;
  margin-bottom: 5px;
}

/* Styl dla pól wejściowych */
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
  width: calc(100% - 22px); /* 22px to suma paddingu i bordera */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styl dla przycisków */
.form-container button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styl dla przycisków po najechaniu myszą */
.form-container button:hover {
  background-color: #45a049;
}

/* NAVBAR */
#navbarContainer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  grid-gap: 50%;
  /* display: flex; */
  flex-wrap: wrap;
  /* border-radius: 10px; */
  /* margin-top: -8px; */
  /* margin-left: -10px; */

  place-items: center;
  width: 100%;
  justify-items: center;
}

#navbarContainer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

#navbarContainer a:hover {
  text-decoration: underline;
}

#navbarLeftContainer {
  display: flex;
  justify-content: center;
}

#navbarRightContainer {
  display: flex;
  justify-content: center;
  justify-items: center;
  /* background-color: #45a049; */
}

.navbarTextContainer {
  margin: 10px;
}

/* HOME */
#homeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-gap: 10px; */
  /* grid-template-rows: 1fr 1fr; */
  margin-top: 5%;
}

/* .upload-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
} */

.upload-form {
  width: 380px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
}

.upload-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.upload-form label {
  display: block;
  margin-bottom: 10px;
}

.upload-form input[type="file"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.upload-form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-form button[type="submit"]:hover {
  background-color: var(--secondary-color);
}

.mushroom_photo {
  width: 30%;
  max-width: 100%;
  height: auto;
  /* width: 10px; */
}

#mushroom_list_holder:hover {
  background-color: #30f274;
}

#list_searchbar_holder {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* CLASSIFICATION PAGE */
.container {
  flex: 1;
  max-width: 90%;
  margin: 20px auto;
}

.uploaded-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.result {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.percentage {
  font-size: 38px;
  color: #5cb85c;
}

.edible {
  font-size: 20px;
  color: #5cb85c;
}

.inedible {
  font-size: 20px;
  color: #f10606;
}

.mushroom-name {
  font-size: 24px;
  margin-top: 10px;
}

.additional-images {
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 20px;
}

.additional-images img {
  max-width: 200px;
  height: auto;
  margin-right: 10px;
}
