:root {
    --primary-color: rgb(11, 90, 0);
    --secondary-color: rgb(45, 158, 0);
    --third-color: rgb(236, 181, 0);
    --button-hover-color: rgb(182, 182, 182);
    --tab-color: rgb(82, 82, 82);
    --background-color: white;
    --mushrooms-color: rgb(187, 187, 187);
    --mushrooms-hover-color: rgb(95, 95, 95);
    --input-color: rgb(202, 202, 202);
    --edible-color: rgb(45, 158, 0);
    --inedible-color: rgb(196, 9, 9);
    --abc-element-color: rgb(99, 99, 99);
}

#mainBody {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}













#loginBody {
    display: flex;
    background-color: var(--login-color);
    width: inherit;
    height: 100%;
    min-height: 100vh;
    justify-content: center;
    justify-items: center;
  }
  
  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 5%;
    height: 60%;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .welcome-text {
    margin-bottom: 20px;
    padding: 20px;
    max-width: 550px;
  }
  
  .separator-vertical {
    width: 0px;
    background-color: black;
    height: 0px;
    margin: 0 20px;
  }
  
  .register-text {
    justify-content: center;
    justify-items: center;
    margin: auto;
    margin-top: 5%;
  }
  
  .register-text a {
    color: var(--secondary-color);
    cursor: pointer;
  }
  
  .register-text a:hover {
    color: var(--secondary-color);
  }
  
  @media only screen and (min-width: 600px) {
    .login-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .login-form {
      margin-left: 20px;
    }
  
    .separator-vertical {
      width: 1px;
      height: 330px;
    }
  
    .home-separator-vertical {
        width: 1px;
        height: 160px;
    }

    .separator-vertical-register {
      width: 1px;
      height: 660px;
      background-color: black;
      margin: 0 20px;
    }

    .separator-vertical-edit-password{
        width: 1px;
        height: 370px;
        background-color: black;
        margin: 0 20px;  
    }

    .separator-vertical-edit-username {
        width: 1px;
        height: 200px;
        background-color: black;
        margin: 0 20px;
    }
  }
  
  /* login and register form */
  .form-container {
    height: auto;
    width: 300px;
    margin-right: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 25px;
    border-radius: 10px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    align-items: center;
  }
  
  /* Styl dla etykiet */
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--login-color);
  }
  
  /* Styl dla przycisków */
  .form-container button {
    width: 100%;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Styl dla przycisków po najechaniu myszą */
  .form-container button:hover {
    background-color: var(--primary-color);
  }

  





.home-form {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    border: solid 0px;
    border-radius: 20px;
    /* justify-content: center; */
    /* justify-items: center; */
    /* margin-right: 40px; */
    /* background-color: aqua; */
}

.home-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    padding: 20px 0px 20px 0px;
    /* height: 200px; */
    /* justify-content: center; */
    /* justify-items: center; */
    border: solid 0.5px;
    border-color: #ccc;
    border-radius: 20px;
    /* margin: 30px; */
    /* background-color: rgb(236, 235, 235); */
}

.classic-button {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 10px 20px 10px 20px;
    border: solid 0px;
    border-radius: 15px;
    width: 90%;
    margin-top: 20px;

}

.home-input {
    display: flex;
    width: 80%;
    padding: 20px;
    border-bottom: solid 1px;
    border-color: #ccc;
    border-radius: 15px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.classic-button:hover {
    background-color: var(--button-hover-color);
}










.navbar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0%;
}

.navbar-content {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 10px 20px 10px 20px;
    margin: 0%;
    align-items: start;
    background-color: var(--secondary-color);
}

.navbar-tab {
    display: none;
    position: absolute;
    background-color: var(--tab-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 200px;
    max-width: 200px;
    min-height: 100vh;
}

.navbar-tab-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    color: white;
    width: 100%;
    min-height: 60vh;
}

.navbar-tab-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    color: white;
    width: 100%;
    min-height: 40vh;
}

.navbar-tab-content a {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    color: white;
    width: 100%;
}

.navbar-tab-content a:hover {
    background-color: var(--button-hover-color);
    width: 100%;
}

.dropbtn {
    display: block;
    size: larger;
    border: none;
    font-size: 30px;
    background-color: var(--secondary-color);
    color: white;
}

.icon-padding {
    padding-left: 10px;
}
  
#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* justify-items: center; */
    /* background-color: antiquewhite; */
    width: 100%;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
    padding-top: 200px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    /* background-color:blue; */
    padding: 100px;
    border: solid 1px;
}



















/* MUSHROOMS */
.mushroomsContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  
  .mushrooms-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  
  .mushrooms-element a {
    display: flex;
    background-color: var(--mushrooms-color);
    border: solid 0px;
    border-radius: 15px;
    margin: 10px 0px 0px 0px; 
    width: 80%;
    max-width: 800px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    height: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .mushrooms-element a:hover {
    background-color: var(--mushrooms-hover-color);
  }
  
  .mushrooms-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    border-bottom: solid 0px;
  }
  
  .mushrooms-info h2 {
    color: white;
    font-size: larger;
  }
  
  .mushrooms-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: solid 0px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: var(--background-color);
    margin: 10px 0px 0px 0px;
    min-height: 100vh;
    padding-top: 15px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  }
  
  .mushrooms-searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
  }

  .mushrooms-searchbar form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .mushrooms-searchbar input {
    display: flex;
    margin: auto;
    align-items: center;
    border: solid 0.5px;
    border-radius: 10px;
    min-height: 30px;
    width: 80%;
    max-width: 800px;
    padding: 0px 10px 0px 10px;
    border: solid 0.5px;
    border-color: var(--input-color);
  }
  
  .mushroom-photo {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    width: 40%;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  
  .mushroom-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0px;
    padding: 0px;
    width: 70%;
    height: 100%;
  }
  
  .mushroom-name  {
    font-size: 15px;
    margin: 0px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    justify-items: center;
  }
  
  .mushroom-specname  {
    font-size: small;
    font-style: italic;
    margin: 0px;
    text-align: center;
    justify-content: center;
    justify-items: center;
  }
  
  .mushroom-name p {
    font-size: small;
  }
  


















/* MUSHROOM */
.mushroom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: auto;
    padding: 2% 5% 2% 5%;
    background-color: var(--background-color);
  }
  
  .mushroom-images {
    display: flex;
    max-width: 700px;
    /* flex-direction: column; */
  }
  
  .images-container img {
    width: 47%;
    margin: 2px;
    border: solid 1px;
    border-radius: 15px;
    border-color: var(--background-color);
  }

  .mushroom-content {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: var(--secondary-color);
    width: 100%;
    min-height: 40vh;
    padding: 0;

  }

  .mushroom-button {
    background-color: rgb(22, 150, 150);
  }

  .mushroom-content-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #d4d4d4;
    width: 100%;
    padding: 20px 20px 20px 0px;
    min-height: 40vh;
    margin: 0;
  }
  
  .mushroom-content-bottom {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    justify-items: center;
    background-color: #646464;
    width: 100%;
    padding: 10px 20px 10px 20px;
    min-height: 40vh;
  }
  
  .mushroom-content-characteristics {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    /* background-color: aqua; */
  }

  .mushroom-characteristics {
    display: flex;
  }
  
  .mushroom-characteristics p {
    display: flex;
    border: solid 0px;
    border-radius: 25px;
    background-color: rgba(211, 211, 211, 0.514);
    padding: 10px;
  }
  
  .single-mushroom-subinfo {
    display: flex;
    width: 100%;
  }

  .single-mushroom-info {
    margin-bottom: 40px;
  }

  .edible {
    color: var(--edible-color);
    font-size: larger;
  }

  .inedible {
    color: var(--inedible-color);
    font-size: larger;
  }

  .single-mushroom-specname {
    font-style: italic;
    margin-left: 15px;
  }

  @media screen and (max-width: 900px) {
    .mushroom-content {
        flex-direction: column;
    }
    .single-mushroom-subinfo {
        flex-direction: column;
    }
    .single-mushroom-specname {
        margin-left: 0px;
    }
  }
  
  @media screen and (max-width: 650px) {
    .images-container {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  
    .images-container img {
      width: 100%;
      margin: auto;
      margin-bottom: 5px;
    }
  }
  
  .mushroom-basic-info {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
    flex-direction: column;
    background-color: var(--fourth-color);
    border: solid 0px;
    border-radius: 15px;
    margin-bottom: 2%;
    width: 100%;
    align-items: center;
  }
  
  .mushroom-basic-info h2 {
    margin: auto;
    font-style: italic;
    font-size: 24px;
  
  }
  
  .mushroom-basic-info h1 {
    /* margin: auto; */
  }
  
  .mySlides {
    display: none;
    width: 100%;
    margin: auto;
  }
  
  .mushroom-description {
    /* background-color: #61a4ec; */
    border: solid 0px;
    border-radius: 15px;
    margin-bottom: 5%;
    width: 100%;
    padding: 10px;
    margin: 2% 2% 0 0;
    /* margin-bottom: 10px; */
  }
  
  /* .mushroom-characteristics {
    background-color: #6486aa;
    border: solid 0px;
    border-radius: 15px;
    margin-bottom: 5%;
    width: 100%;
    padding: 10px;
    margin: 2% 2% 0 0; 
  }
   */














   /* ABC */
#abcContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  
  .abc-element {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  
  .abc-element a {
    display: flex;
    background-color: var(--abc-element-color);
    border: solid 0px;
    border-radius: 15px;
    margin: 10px 0px 0px 0px; 
    width: 80%;
    max-width: 800px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 50px;
    color: white;
    text-decoration: none;
  }
  
  .abc-element a:hover {
    background-color: var(--secondary-color);
  }
  
  .abc-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-color);
    border-bottom: solid 0px;
  }
  
  .abc-info h2 {
    color: white;
    font-size: larger;
  }
  
  .abc-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: solid 0px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: var(--background-color);
    margin: 10px 0px 0px 0px;
    min-height: 100vh;
    padding-top: 25px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  }
  






















  /* COURSES */
#coursesContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  
  .courses-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  
  .courses-element a {
    display: flex;
    background-color: var(--abc-element-color);
    border: solid 0px;
    border-radius: 15px;
    margin: 10px 0px 0px 0px; 
    width: 80%;
    max-width: 800px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 50px;
    color: white;
    text-decoration: none;
  }
  
  .courses-element a:hover {
    background-color: var(--secondary-color);
  }
  
  .courses-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-color);
    border-bottom: solid 0px;
  }
  
  .courses-info h2 {
    color: white;
    font-size: larger;
  }
  
  .courses-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: solid 0px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: var(--background-color);
    margin: 10px 0px 0px 0px;
    min-height: 100vh;
    padding-top: 25px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  }
  
  .courses-element-text {
    display: flex;
    flex-direction: column;
    width: 90%;
  
  }
  
  .courses-element-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .courses-element-img img {
    width: 80%;
    max-width: 600px;
    margin: 20px 0px 20px 0px;
  }
  
  .course-check {
    margin: 20px 0px 20px 0px;
    display: flex;
    width: 100%;
    /* background-color: #ce8619; */
    justify-content: center;
    justify-items: center;
    /* padding: 10px; */
  }
  
  .course-check a{
    margin: 20px 0px 20px 0px;
    display: flex;
    width: 80%;
    max-width: 600px;
    background-color: var(--secondary-color);
    justify-content: center;
    justify-items: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    border: solid 0px;
    border-radius: 15px;
  }
  .course-check a:hover{
    background-color: var(--primary-color);
  }






  /* RECIPES */
  #categoriesRecpiesContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  
  .categories-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-color);
    border-bottom: solid 0px;
  }
  
  .categories-info h2 {
    color: white;
    font-size: larger;
  }
  
  .categories-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: solid 0px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: var(--background-color);
    margin: 10px 0px 0px 0px;
    min-height: 100vh;
    padding-top: 25px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  }
  
  .categories-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  
  .categories-element a {
    display: flex;
    background-color: var(--abc-element-color);
    border: solid 0px;
    border-radius: 15px;
    margin: 10px 0px 0px 0px; 
    width: 80%;
    max-width: 800px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 50px;
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  
  }
  
  .categories-element a:hover {
    background-color: var(--secondary-color);
  }
  
  .recipes-separator {
    width: 1px;
    height: 50px;
    background-color: #000000;
    margin: 0px 10px 0px 10px;
    border: solid 0.5px;
    border-color: #000000;
  }
  
  .recipes-element {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 600px;
    background-color: #ce8619;
    border: solid 0px;
    border-radius: 15px;
    height: 70px;
  }
  
  .recipes-element a {
    display: flex;
    border: solid 0px;
    border-radius: 15px;
    width: 60%;
    max-width: 800px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 50px;
    color: white;
    text-decoration: none;
  }
  
  .recipes-element span {
    padding: 8px;
  }
  
  .recipes-element:hover {
    background-color: var(--secondary-color);
  }
  
  .recipe-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 0px 20px 0px;
    align-items: center;
  }
  
  .recipe-content-text {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
  .recipe-content-text span {
    font-weight: bold;
  }
  
  .recipe-content-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-width: 600px;
    margin: 15px 0px 25px 0px;
  }
  
  .recipe-content-img img {
    width: 80%;
  }
  

































  /* ABC 1 staer*/

#main-header-abc1 {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  #main-content-abc1 {
    padding: 20px;
  }
  
  #main-footer-abc1 {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .section-container-abc1 {
    border: 2px solid var(--secondary-color);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .abc-h2 {
    color: var(--secondary-color);
  }
  
  .ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .photos-abc1 {
    text-align: center;
  }
  
  .gallery-abc1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .gallery-image-abc1 {
    margin: 10px;
    max-width: 400px;
    border-radius: 5px;
  }
  
  /* ABC 1 end */
  
  /* ABC 2 start */
  
  #main-header-abc2 {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  #main-content-abc2 {
    padding: 20px;
  }
  
  #main-footer-abc2 {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .section-container-abc2 {
    border: 2px solid var(--secondary-color);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .section-title-abc2 {
    color: var(--secondary-color);
  }
  
  .section-text-abc2 {
    margin-bottom: 20px;
  }
  
  .list-abc2 {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .list-item-abc2 {
    margin-bottom: 10px;
  }
  
  .photos-abc2 {
    text-align: center;
  }
  
  .gallery-abc2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .gallery-image-abc2 {
    margin: 10px;
    max-width: 400px;
    border-radius: 5px;
  }
  
  /* ABC 2 end */
  
  /* ABC 3 start */
  
  #main-header-abc3 {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  #main-content-abc3 {
    padding: 20px;
  }
  
  #main-footer-abc3 {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .section-container-abc3 {
    border: 2px solid var(--secondary-color);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .section-title-abc3 {
    color: var(--secondary-color);
  }
  
  .section-text-abc3 {
    margin-bottom: 20px;
  }
  
  .list-abc3 {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .list-item-abc3 {
    margin-bottom: 10px;
  }
  
  .tip-image-abc3 {
    display: block;
    margin: 10px 0;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  /* ABC 3 end */
  








  /* COURSE-TEST */
  .course-test-container {
    display: flex;
    width: 100%;
    background-color: var(--background-color);
    justify-content: center;
    justify-items: center;
  }

  .course-test-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: #ce8619; */
    /* padding: 20px; */
  }

  .course-test-content img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    /* background-color: #ce8619; */
    max-width: 600px;
  }

  .course-test-content h2 {
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .course-test-content button {
    display: flex;
    flex-direction: column;
    border: solid 0px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    height: 40px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: medium;
  }








  /* PROFILE */
  .profile-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    align-items: center;
  }

  .profile-content {
    margin: 20px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border: solid 3px var(--secondary-color);
    border-radius: 15px;
    padding: 20px;
  }