{% extends 'main.html' %} {% block content %} {% if user.is_authenticated %}

<div id="coursesContainer">
  <div class="courses-info">
    <h2>Kursy</h2>
  </div>
  <div class="courses-content">

    <div class="courses-element">
    {% for course in courses %}
      <a href="{% url 'course_theory' course.id %}">{{ course.name }}</a>
      {% for score in scores %} {% if score.course.id == course.id %}
      <div>Wynik: {{ score.score }}</div>
      {% endif %}{% endfor %}
    {% endfor %}
    </div>
  </div>
</div>
  {% else %}

<div id="coursesContainer">
  <div class="courses-info">
    <h2>Kursy</h2>
  </div>
  <div class="courses-content">  
    {% for course in courses %}
    <div class="courses-element">
      <a href="{% url 'course_theory' course.id %}">{{ course.name }}</a>
    </div>
    {% endfor %}
  </div>
</div>

{% endif %} {% endblock %}
