{% extends 'main.html' %} {% block content %}

<div id="loginBody">
  <div class="login-content">
    <div class="welcome-text">
      <h2>Zmień hasło</h2>
      <a>Wprowadź nowe hasło. Pamiętaj, aby nie było zbyt łatwe!</a>
    </div>

    <hr class="separator-vertical-edit-password" />
    <!-- Dodanie linii oddzielającej -->

    <div class="login-form">
      <div class="form-container">
        <form class="custom-password-change-form" method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Zmień hasło</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
