{% extends 'main.html' %} {% block content %}

<div>
  <head>
    {{ recipe.name }}
  </head>
  <img class="recipe_photo" src="{{ recipe.img1.url }}" />
  <div>
    <span>Składniki:</span>
    <ul>
      {% for ingredient, quantity in recipe.ingredients.items %}
      <li>{{ ingredient }} - {{ quantity }}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <span>Przygotowanie:</span>
    <ul>
      {% for number, instruction in recipe.instructions.items %}
      <li>{{ number }} - {{ instruction }}</li>
      {% endfor %}
    </ul>
  </div>
  <img class="recipe_photo" src="{{ recipe.img2.url }}" />
</div>

{% endblock %}
