{% extends 'main.html' %} {% block content %}

<div id="loginBody">
  <div class="login-content">
    <div class="welcome-text">
      <h2>Create an account</h2>
      <a
        >Create your account, it takes less than a minute. Enter your username
        and password.</a
      >
    </div>

    <hr class="separator-vertical" />
    <!-- Dodanie linii oddzielającej -->

    <div class="login-form">
      <div class="form-container">
        <!-- <h2>Register</h2> -->
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Register</button>
        </form>
      </div>
      <hr class="separator-horizontal" />
      <!-- Dodanie linii oddzielającej -->

      <div class="register-text">
        Already have an account?
        <a href="{% url 'login' %}" class="navbarTextContainer">Log In</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
